APP_BASE_URL=https://khachtot.com/
APP_ENC_KEY=CHANGE_ME_TO_A_RANDOM_32_CHAR_SECRET

DB_HOST=localhost
DB_NAME=khachtot
DB_USER=khachtot_user
DB_PASS=CHANGE_ME

KT_SAAS_ROOT_DOMAIN=khachtot.com
KT_SAAS_ALLOW_HARD_DELETE=false

BREVO_API_KEY=
SEPAY_WEBHOOK_SECRET=
MATBAO_API_KEY=
CLOUDFLARE_API_TOKEN=
